{{ if .Site.Params.favicon }}
  {{ $favicon := $.Site.Params.favicon }}
  {{ $isAbs := or (hasPrefix $favicon "http://") (hasPrefix $favicon "https://") }}
  {{ $faviconSrc := $favicon }}

  {{ if not $isAbs }}
    {{ $faviconSrc = urls.RelURL $favicon }}
    {{ with $.Site.Params.assets_base }}
      {{ $faviconSrc = partials.Include "func/asset-url.html" (dict "src" $faviconSrc "page" $) }}
    {{ end }}
  {{ end }}

  <link rel="icon" href="{{ $faviconSrc }}" type="image/jpeg" />
  <link rel="shortcut icon" href="{{ $faviconSrc }}" type="image/jpeg" />
{{ end }}
