<nav class="pv3 ph3 ph4-ns" role="navigation">
  <div class="flex-l center items-center justify-between">
    <a href="{{ .Site.Home.RelPermalink }}" class="f3 fw2 hover-white white-90 dib no-underline">
      {{ with .Site.Params.site_logo }}
        {{ $logoSrc := urls.RelURL . }}
        {{ with $.Site.Params.assets_base }}
          {{ $logoSrc = partials.Include "func/asset-url.html" (dict "src" $logoSrc "page" $) }}
        {{ end }}
        <img src="{{ $logoSrc }}" class="w100 mw5-ns" alt="{{ $.Site.Title }}" />
      {{ else }}
        {{ .Site.Title }}
      {{ end }}
    </a>
    <div class="flex-l items-center">
      {{ partials.Include "i18nlist.html" . }}
      {{ if .Site.Menus.main }}
        <ul class="{{ compare.Conditional (compare.Eq $.Site.Language.LanguageDirection "rtl") "pr0 ml3" "pl0 mr3" }}">
          {{ range .Site.Menus.main }}
          <li class="list f5 f4-ns fw4 dib {{ compare.Conditional (compare.Eq $.Site.Language.LanguageDirection "rtl") "pl3" "pr3" }}">
            <a class="hover-white white-90 no-underline" href="{{ .URL }}" title="{{ lang.Translate "pageTitle" . }}">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
      {{ end }}
      <form action="{{ "/search/" | relURL }}" method="get" class="dn db-l">
        <label for="nav-search" class="dn">站内搜索</label>
        <input
          id="nav-search"
          name="q"
          type="search"
          placeholder="搜索"
          class="input-reset ba b--white-30 bg-transparent white-90 pa2 br2 f6 w4"
        />
      </form>
      <a href="{{ "/search/" | relURL }}" class="dib dn-l link white-90 ml3 f6">搜索</a>
      {{ partials.IncludeCached "social/follow.html" . }}
    </div>
  </div>
</nav>
